@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

.formBox {
    margin-top: 8px;
    .radioBox {
        width: 433px;
        background: $mainbgAlert;
        border-radius: 24px;
        @include flex;
        padding: 12px 0px 12px 18px;
    .labelText {
            margin-left: 22px;

        }
    }
}