


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9dp71t');
  src:  url('../fonts/icomoon.eot?9dp71t#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9dp71t') format('truetype'),
    url('../fonts/icomoon.woff?9dp71t') format('woff'),
    url('../fonts/icomoon.svg?9dp71t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  // / use !important to prevent issues with browser extensions that change fonts /
  font-family: 'icomoon' !important;
  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // / Better Font Rendering =========== /
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-Down:before {
  content: "\e928";
}
.icon-creditCard:before {
  content: "\e92d";
}
.icon-arrowDropUp:before {
  content: "\e91e";
}
.icon-add:before {
  content: "\e900";
}
.icon-greentick:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e902";
}
.icon-Icon-fill:before {
  content: "\e903";
}
.icon-close_24px:before {
  content: "\e904";
}
.icon-not-applicable:before {
  content: "\e905";
}
.icon-checkbox:before {
  content: "\e906";
}
.icon-User:before {
  content: "\e907";
}
.icon-activity-history:before {
  content: "\e908";
}
.icon-Arrow:before {
  content: "\e909";
}
.icon-arrow_drop_up_24px:before {
  content: "\e90a";
}
.icon-arrow-forward:before {
  content: "\e90b";
}
.icon-arrowright:before {
  content: "\e90c";
}
.icon--arrow-right:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-chevron-right:before {
  content: "\e90f";
}
.icon-close24:before {
  content: "\e910";
}
.icon-Reward:before {
  content: "\e911";
}
.icon-heand:before {
  content: "\e912";
}
.icon-convert-currency:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e914";
}
.icon-Group:before {
  content: "\e915";
}
.icon-location:before {
  content: "\e916";
}
.icon-Component-25:before {
  content: "\e917";
}
.icon-alert:before {
  content: "\e918";
}
.icon-Map:before {
  content: "\e919";
}
.icon-network:before {
  content: "\e91a";
}
.icon-notification:before {
  content: "\e91b";
}
.icon-settings:before {
  content: "\e91c";
}
.icon-Heart:before {
  content: "\e91d";
}
.icon-Subtract3:before {
  content: "\e91f";
}
.icon-Subtract4:before {
  content: "\e920";
}
.icon-lock:before {
  content: "\e921";
}
.icon-today:before {
  content: "\e922";
}
.icon-Union:before {
  content: "\e923";
}
.icon-web-app:before {
  content: "\e924";
}
.icon-feedback:before {
  content: "\e925";
}
.icon-Vector-5:before {
  content: "\e926";
}
.icon-Dollar:before {
  content: "\e927";
}
.icon-recycle:before {
  content: "\e929";
}
.icon-notification1:before {
  content: "\e92a";
}
.icon-vpn-key:before {
  content: "\e92b";
}
.icon-XMLID_161:before {
  content: "\e92c";
}
.icon-average:before {
  content: "\e92e";
}
.icon-dissatisfied-max:before {
  content: "\e92f";
}
.icon-dissatisfied-medium:before {
  content: "\e930";
}
.icon-uniE932:before {
  content: "\e932";
}
.icon-uniE934:before {
  content: "\e934";
}
.icon-Group1:before {
  content: "\e935";
}
.icon-icon-i:before {
  content: "\e936";
}
.icon-uniE938:before {
  content: "\e938";
}
.icon-uniE93A:before {
  content: "\e93a";
}
.icon-uniE93C:before {
  content: "\e93c";
}
.icon-progress1:before {
  content: "\e93d";
}
.icon-satisfied-max:before {
  content: "\e93e";
}
.icon-satisfied-medium:before {
  content: "\e93f";
}
.icon-star:before {
  content: "\e940";
}
.icon-uniE941:before {
  content: "\e941";
}
.icon-more:before {
  content: "\e942";
}
