//bgcolor
$solidPrimary: #00b066;
$primaryDisable: #dbf0d6;
$primarybg02: #E8F5E5;
$redColor: #ef424c;
$bgAlert: #f5faf4;
$bgAlert02:#e6f8f9;
$bgAlertSecondary: #f5faf4;
$bgBeforeColor: rgba(0, 0, 0, 0.15);
$bgBeforeColor02:rgba(0, 0, 0, 0.25);
$mainbgAlert: #f9f9f9;
$bgColor: #f6f6f6;
$bgHeader:#EAEAEA;
$bgSecondaryColor:#DEE7EB;
$radioDisable: rgba(0, 0, 0, 0.46);
$radioDisable02: rgba(239, 66, 76, 0.19);
$radioDisable03:rgba(255, 149, 0, 0.1);
$radioDisable04:rgba(94, 186, 125, 0.07);
$teritaryDanger: #F1688E;
$tertiaryColor: #494e5e;
$tertiaryColor01:#494E5E;
$placeholderColor:#BDC4BA;
$notifiyColor:#FFEBEB;
$Darkgreen:#6AA17C;
$creamColor: #E5F7FF;


$teritaryBg2:#fef0f4;
$teritaryDanger: #8a3d53;
$teritaryDanger01: #F1688E;

$blackColor: #000;
$disabledButton: #bdc4ba;
$navyBlue: #4ab8ed;
$navyBlue01:#4AB8ED;
$darkBlue:#247A7A;

//textcolor
$textWhite: #ffffff;
$textPrimary: #5eba7d;
$calendarBgWhite : #fafafa;
$whiteColor: #FFFFFF;
$textPrimary: #5eba7d;
$textPrimary01:#5EBA7D;
$iconPrimary: #5eba7d;
$textblackPrimary: #000000;
$SeondaryTextColor: #494e5e;
$textPrimaryBlue: #4ab8ed;
$inputTextBackground: #f9f9f9;
$mainColor: black;
$zipHeadingColor: #494e5e;
$checkColor: #494e5e;
$recycleColor: #ffbf1a;
$pinkPrimary:#F1688E;
$orangeColor:#FFBF1A;
$leadColor: #85b6ff;
$carbonColor: #99da49;
$boxColor: #f9f9f9;
$placeHolder: #bdc4ba;
$bankColor: #204081;
$darkGray:#939393;
$lightGray:#F6F6F6;
$teritaryBg:#e8f5e5;
$profileOrange :#FF9500;
$yelloColor:#FFE600;

// background
$bgPrimaryBlue:#E2EEFF;
$bgPrimaryOrange:#FEF2CF;
$bgPrimariGrey:#E5E5E5; 
$bgSecondaryGrey:#EAEAEA;

//Box Shadow Color
$skyShadow-color:rgba(249, 249, 249, 0.55);
$shadow-color: rgba(186, 186, 186, 0.35);
$shadowSecondaryColor: rgba(242, 247, 243, 0.25);
$darkShadowColor:rgba(255, 255, 255, 0.15);
$outline-color: 1px solid #dbf0d6;
$wbBoxShadow: rgba(234, 232, 232, 0.3);
$wbBoxShadow2: rgba(185, 182, 182, 0.3);
$box-shadowColor: rgba(0, 0, 0, 0.08);
$box-shadowColor02:0px 0px 10px rgba(0, 0, 0, 0.12);
$box-darkShadowColor:rgba(0, 0, 0, 0.17);
$box-shadowSecondary:0px 7px 10px rgba(84, 84, 84, 0.27);
$box-shadowDark:rgba(95, 99, 105, 0.23);
$box-shadowColorSecondary:rgba(73, 78, 94, 0.3);
$calendar-boxShadowColor : rgba(39, 81, 63, 0.03);
$dropShadow:drop-shadow(0px 5.39211px 5.39211px rgba(0, 0, 0, 0.25));

$rgbColor:rgb(248, 246, 243);
$lightGreen:#F5FAF4;
// Border Color
$border-color: 1px solid #dbf0d6;
$bgBorder: #dbf0d6;
$inputTextBorder: #939393;
$scrollBgColor: #c4c4c4;
$bgStateBorder: #e8e8e8;
//Font Family
$sansPro: "Source Sans Pro";
$spinnerColor: #70a2f5;
// $priDisabled:#007bff;

// Label Color
$primary-labelColor: red;
$primaryColor: #dadada;

// Input Color
$input-bg: #f9f9f9;
$border: 1px solid #939393;

// font Size
$font-xxs01:9px;
$font-xxs: 10px;
$font-xs: 12px;
$font-msm: 13px;
$font-sm: 14px;
$font-md: 15px;
$font-lg: 16px;
$font-xl: 17px;
$font-xxl: 18px;
$font-xxl1: 19px;
$font-xxxl: 20px;
$font-xx1: 21px;
$font-xx2: 22px;
$font-xx3: 23px;
$font-xx4: 24px;
$font-xx5: 25px;
$font-xx6: 26px;
$font-xx7: 27px;
$font-xx8: 28px;
$font-xx9: 29px;
$font-big: 30px;
$font-big03: 32px;
$font-big01: 36px;
$font-big02: 42px;
$font-Big:39px;
$font-xtraBig: 40px;
$font-big72: 72px;





//Arc Color
$Arc-border:#dbf0d6;
$Arc-Re: #FFF9E8;

$plastic-color:#F1688E;
$glass-color:#4AB8ED;
$aluminium-color: #FFBF1A;

// BreackPoints
$screen-md:1024px;
$screen-xmd:1440px;