@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.donateMain {
    display: flex;
    flex-direction: column;
  
    .donateFund {
        background: $bgAlert;
        border: 2px solid $bgBorder;
        border-radius: $font-lg;
        width: 480px;
        padding: 25px 28px 25px 28px;
        margin-top: 63px;
        .cashFund {
            border-bottom: 2px solid $bgStateBorder;
            padding: 0px 20px 38px 20px;
            display: flex;
            justify-content: space-between;
            .dollarTxt {
                font-size: 40px;
                color: $textPrimary;
                margin-top: 5px;
                font-family: 'Raleway';
                font-weight: 500;
                .dollar {
                    font-size: 30px;
                }
            }
            .donateHeadText {
                display: flex;
                align-items: center;
            }
            .homeIconImg {
                margin-left: 12px;
            }
            .ecoTxt {
                font-size: 40px;
                color: $SeondaryTextColor;
                margin-top: 5px;
                font-family: 'Raleway';
            }
        }
        .amountBtm {
            margin-top: 42px;
            .amtInput {
                margin-top: 5px;
            }
           
        }
        .walletBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 52px;
        }
    }
    .methodFund {
        margin-top: 30px;
        .methodTxt {
            font-weight: 600;
            font-size: $font-xxxl;
            color: $SeondaryTextColor;
        }
        .radioFirst{
            display: flex;
            align-items: center;
            margin-top: 13px;
        }
        .papyalPadd {
            margin-top: 20px;
        }
        
        .charity {
            margin: 48px 0px 48px 0px;
            .iconCircle {
                font-size: $font-md;
                font-size: 18px;
                color: $textPrimary;
            }
            .charityBtm {
                display: flex;
                align-items: center;
                margin-top: 12px;
                width: 197px;
                background-color: $textWhite;
                border-radius: 4px;
                padding: 2px 8px 2px 10px;
                a {
                    font-weight: 600;
                    font-size: 15px;
                    color: $inputTextBorder;
                }
                .iconFill {
                    padding-left: 35px;
                    color: $textPrimary;
                    font-size: 14px;
                }
            }
        }
        .paypalTxt {
            color: $tertiaryColor;
            font-weight: 400;
            font-size: $font-lg;
        }
    }
}
