@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.container {
    width: 100%;
    @include fonts-property;
    height: 100vh;
    .ml {
        margin-left: 5px;
    }
    .headerWave {
        width: 100%;
    }


    .shopHome {
        display: flex;
        justify-content: space-between;
        @include shopHome;
    padding-right: 35px;

        .pageTitleClass{
            margin-bottom: 113px;
        }
    }

    .main {
        width: 100%;
        position: relative;
        height: 100vh;

        .cartItems {
            margin-top: 41px;
            max-width: 456px;
            padding: 22px;
            background: $mainbgAlert;
            border-radius: 32px;
            
            .cartTwo {
                margin-top: 30px;
            }
        }
        .cartItems::before {
            position: absolute;
            top: 45px;
            right: 63%;
            content: "";
            width: 1px;
            min-height: 734px;
            background: $box-shadowColorSecondary;
        }
        .orderPlaced {
            margin:25px 0px 72px 0px;
        }
        .placeOrderMain {
            width: 100%;
            max-width: 489px;
            .ecoSack {
                margin-top: 85px
            }
            .ecoMain {
                @include flexJustifyBetween;
                margin-bottom: 30px;
                .EcoPints {
                    width: 100%;
                    max-width: 151px;
                }

            }
        }
        .method {
            margin: 50px 0px 31px 0px;
        }
        .shipping {
            margin-bottom: 31px;
        }
        .shippingMethod {
            border-bottom: 1.5px solid $box-shadowColorSecondary;
            padding-bottom: 50px;
            .method {
                margin-top: 5px;
            }
        }
        .totalMain {
            margin-top: 50px;
            .total {
                @include flexJustifyBetween;
                margin-bottom: 12px;
            }
            .submit {
               margin-top: 80px; 
            }
        }
        .emailMain {
            margin-top: 73px;
        }
        .ordersubmit {
            margin-top: 150px;
        }

        
    }
}