@import "../../../assets/scss//variables.scss";
@import "../../../assets/scss/mixins.scss";

.Account {
    @include raleway;
    background: $bgColor;
    border-radius: 27px;
    width: 100%;
    width: 672px;

    .mainBox {
        @include flex;
        padding: 12px 0px 0px 14px;
        position: relative;

        .contentBox {
            margin-left: 13px;

            .text {
                margin-top: 10px;
            }
        }

        .iconBox {
            position: absolute;
            right: 25px;
            top: 20px;
        }
    }

    .bottomText {
        @include flexJustifyBetween;
        padding: 11px 12px 18px 16px;

    }
}