@import '../../assets//scss//variables.scss';
@import '../../assets//scss/mixins.scss';

.Login {
    max-width: 394px;
    margin: 0 auto;
    @include fonts-property;
    .errorMsg {
        margin-top: 10px;
        text-align: left;
        color:$redColor;
     }
    .logo {
        text-align: center;
        margin: 65px 0 0 0;
    }

    .heading {
        text-align: center;
        margin: 35px 0 8px 0;
    }

    .LoginText {
        margin: 0px 0 40px 0px;
    }

    .email {
        margin: 0 0 66px 0;

        .eText {
            @include LabelText;
            display: flex;
            margin: 0 0px 10px 0px;
        }
    }

    .btn {
        text-align: center;
        margin: 0 0 33px 0;
    }


    .resendLink {
        color: $solidPrimary;
        @include flex;
        margin: 33px 0 35px 0;
        font-size: $font-xxl;
        line-height: 23px;
        letter-spacing: 0.015em;
    }

    .pass {
        margin: 0px 0 16px 0;

        .passText {
            @include LabelText;
            display: flex;
            padding: 0 0px 10px 0px;
        }

    }

    .rePassword {
        margin: 0px 0 46px 0;

        .passText {
            @include LabelText;
            display: flex;
            padding: 0 0px 10px 0px;
        }

    }

    .passSuccess {
        @include Text-afterLogo;
        text-align: center;
        margin: 90px 0 115px 0;
    }



}