@import '../../../assets//scss/variables.scss';
@import '../../../assets//scss/mixins.scss';

.container {
    width: 100%;
    max-width:459px;
    @include flexJustifyBetween;
    border-bottom: 1.3px solid rgba(73, 78, 94, 0.3);
    padding-bottom: 20px;
    margin-bottom: 20px;
    .seeDetails {
        cursor: pointer;
    }
}